/* base variables */

/* Edit the CSS properties in this file to create a custom
   Distill theme. Only edit values in the right column
   for each row; values shown are the CSS defaults.
   To return any property to the default,
   you may set its value to: unset
   All rows must end with a semi-colon.                      */

/* Optional: embed custom fonts here with `@import`          */
/* This must remain at the top of this file.                 */
@import url('https://fonts.googleapis.com/css2?family=Lato');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono');
@import url('https://fonts.googleapis.com/css2?family=Montserrat');

/*
BACKGROUND PAGE COLOUR: #25244D
FONT COLOUR #FFFFFF
GREY FOOTER: #AAABB8
HIGHLIGHTED: #2E9CCA (e.g. links)
HEADER: #464866
SpareBlue: #29648A

*/

html {
  /*-- Main font sizes --*/
  --title-size:      44px;
  --body-size:       1.0rem;                     /* edited */
  --code-size:       0.9rem;                     /* edited */
  --aside-size:      12px;
  --fig-cap-size:    13px;
  /*-- Main font colors --*/
  --title-color:     #29648A;
  --heading-color:   #AAABB8;
  --body-color:      #FFFFFF;                    /* edited */
  --aside-color:     #2E9CCA;
  --fig-cap-color:   #29648A;
  /*-- Specify custom fonts ~~~ must be imported above   --*/
  --heading-font:    'Lato', sans-serif;         /* edited */
  --mono-font:       'Fira Mono', monospace;     /* edited */
  --body-font:       'Lato', sans-serif;         /* edited */
  --navbar-font:     'Montserrat', sans-serif;   /* edited */
  --header-color: #AAABB8;
}

/*-- ARTICLE METADATA --*/
d-byline {
  --heading-size:    0.6rem;
  --heading-color:   #AAABB8;
  --body-size:       0.8rem;
  --body-color:      #FFFFFF;
  --bkgd-color:     #AAABB8;
}

/*-- ARTICLE TABLE OF CONTENTS --*/
.d-contents {
  --heading-size:    15px;
  --contents-size:   13px;
}

/*-- ARTICLE APPENDIX --*/
d-appendix {
  --heading-size:    15px;
  --heading-color:   #FFFFFF;
  --text-size:       0.8em;
  --text-color:      #FFFFFF;
}

d-appendix a {
  color: #FFFFFF;
}

/*-- WEBSITE HEADER + FOOTER --*/
/* These properties only apply to Distill sites and blogs  */

.distill-site-header {
  --title-size:       20px;                      /* edited */
  --text-color:       #FFFFFF;                   /* edited */
  --text-size:        20px;                      /* edited */
  --hover-color:      #AAABB8;                   /* edited */
  --bkgd-color:       #464866;          /* edited */
}

.distill-site-footer {
  --text-color:       rgba(255, 255, 255, 0.8);
  --text-size:        15px;
  --hover-color:      white;
  --bkgd-color:       #AAABB8;
}


/*-- Additional custom styles --*/

body {
  background-color: #25244D; !important
  color: #FFFFFF; !important
}
.posts-list .metadata .publishedDate {
    color: #2E9CCA;
}

.metadata {
  color: #FFFFFF;
}

.description {
  color: #FFFFFF;
}

d-article p code {
  color: #383838;
  background-color: #AAABBB;
  font-weight: 400;
  font-size: 0.9em;
}

d-article pre {
  color: #383838;
  background-color: #AAABBB; !important
  font-weight: 400;
  font-size: 0.9em;
}

d-title p{
  color:  #FFFFFF;
}
}

d-article a {
    border-bottom: 2px solid #2E9CCA;
    text-decoration: none;
}

.distill-site-header .title {
    font-weight: 600; 
}

ul > li::marker {
  color: 2E9CCA;
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6
{
  color:#FFFFFF;
}

d-appendix a {
  colour: #FFFFFF; !important
}

d-byline {
  background-color: #464866; !important
}

d-appendix {
  background-color: #464866; !important
}

